.container form input {
  background-color: white;
  padding: 10px 10px;
}

.MuiOutlinedInput-input {
  padding: 10px 10px;
}

.MuiInputLabel-outlined {
  transform: translate(10px, 10px) scale(1);
}

.makeStyles-root-1 > * {
  margin: 3px;
}