.main-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  
    display: flex;
    background-image: url('../../assets/kindernote-background.jpeg');
    background-size:cover;
  }

  .sidebar-container {
    width: 18%;
    border-style: none;
    display: flex;
    flex-direction: column;
  }

  .dashboad-container {
    width: 82%;
    border-style: none;
    margin: 0;
    padding: 10px;
  }